/* styles.css */
body {
    background-color: #000b18;
    font-family: sans-serif;
}

#ProfilSelector {
  position: absolute;
  top: 10px;
  left: 10px;
}

#MacroPad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
